@model Shop.Mvc.Models.ResetPassword
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div class="site-wrapper-reveal border-bottom">

    <div class="my-account-page-warpper section-space--ptb_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 m-auto">
                    <div class="myaccount-box-wrapper">
                        <div class="helendo-tabs">
                            <ul class="nav" role="tablist">
                                <li class="tab__item nav-item active">
                                    <div class="nav-link active" style="color: black">Đăng nhập</div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content content-modal-box">
                            <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { action = "/Home/ResetPassword", @class = "account-form-box" }))
                                {
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger">@ViewBag.Message</div>
                                    }
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                    </div>
                                    <input type="hidden" asp-for="Email" class="form-control" />
                                    <input type="hidden" asp-for="Token" class="form-control" />
                                    <div class="button-box mt-25">
                                        <button type="submit" class="btn btn--full btn--black">Thay đổi</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
