
@{
    ViewData["Title"] = "ResetPasswordFail";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div id="main-wrapper" style="min-height:30vh">
    <div class="container">
        <h3 style="text-align: center;">Thay đổi tài khoản thất bại</h3>
    </div>
</div>
