
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}


<div id="main-wrapper" style="min-height:30vh">
    <div class="container">
        <h3 style="text-align: center;">Thay đổi tài khoản thành công. Để đăng nhập nhấp vào <a href="/Home/Login" style="margin-left:2px;"> đây </a></h3>
    </div>
</div>