
@{
    ViewData["Title"] = "CheckoutFail";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div id="main-wrapper" style="min-height:30vh">
    <div class="container">
        <h3 style="text-align: center;">Thanh toán thất bại</h3>
    </div>
    
</div>
@await Component.InvokeAsync("Footer")


