@{
    ViewData["Title"] = "CheckoutFail";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div id="main-wrapper" style="min-height:30vh">
    <div class="container">
        <h3 style="text-align: center;">Thanh toán thành công. Cảm ơn quý khách đã sử dụng dịch vụ</h3>
    </div>

</div>
@await Component.InvokeAsync("Footer")


