@{
    ViewData["Title"] = "Default";
}


<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/Admin/Home" class="app-brand-link">
            <span class="app-brand-logo demo">
                <a href="/"><img src="~/../assets/dist/images/logo/logo.svg" alt="" style="max-width:150px"></a>
            </span>
           
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/Admin/Home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Thống kê</div>
            </a>
        </li>
         <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Quản lý</span></li>
        <!-- Cards -->
        <li class="menu-item">
            <a href="/Admin/Order" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="">Hóa đơn</div>
            </a>
        </li>
        
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Table</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Tài khoản</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Account" class="menu-link">
                        <div data-i18n="Account">Xem chi tiết</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Account/Create" class="menu-link">
                        <div data-i18n="Create">Tạo dữ liệu</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Menu Settings">Menu</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Menu" class="menu-link">
                        <div data-i18n="Menu">Xem chi tiết</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Menu/Create" class="menu-link">
                        <div data-i18n="Create">Tạo dữ liệu</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Category Settings">Loại sản phẩm</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/CategoryProduct" class="menu-link">
                        <div data-i18n="Category Settings">Xem chi tiết</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/CategoryProduct/Create" class="menu-link">
                        <div data-i18n="Create">Tạo dữ liệu</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Product Settings">Sản phẩm</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Product" class="menu-link">
                        <div data-i18n="Category Settings">Xem chi tiết</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Product/Create" class="menu-link">
                        <div data-i18n="Create">Tạo dữ liệu</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
     <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Slide Settings">Slide</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Slide" class="menu-link">
                        <div data-i18n="Slide Settings">Xem Slide</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Slide/Create" class="menu-link">
                        <div data-i18n="Create">Tạo slide</div>
                    </a>
                </li>
            </ul>
        </li>
       
    </ul>
</aside>
<!-- / Menu -->