
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>abc</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/../Areas/Admin/assets/dist/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/../Areas/Admin/assets/dist/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/../Areas/Admin/assets/dist/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/../Areas/Admin/assets/dist/css/demo.css" />
    <link rel="stylesheet" href="~/../Areas/Admin/assets/css/all.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/../Areas/Admin/assets/dist/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/../Areas/Admin/assets/dist/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/../Areas/Admin/assets/dist/vendor/js/helpers.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/../Areas/Admin/assets/dist/js/config.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("css", false)
</head>
<body id="page-top">
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            @await Component.InvokeAsync("MenuAdmin")
            <div class="layout-page">

                <div class="content-wrapper">
                    @await Component.InvokeAsync("NavAdmin")
                    <div class="container-xxl flex-grow-1 container-p-y">
                    @RenderBody()
                    </div>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="~/../Areas/Admin/assets/dist/vendor/libs/popper/popper.js"></script>
    <script src="~/../Areas/Admin/assets/dist/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/../Areas/Admin/assets/dist/vendor/js/menu.js"></script>
    <script src="~/../Areas/Admin/assets/dist/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/../Areas/Admin/assets/dist/js/main.js"></script>
    <script src="~/../Areas/Admin/assets/dist/js/dashboards-analytics.js"></script>
    <script src="~/../Commons/Admin/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/../Commons/Admin/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="~/../Commons/fontawesome-free-6.2.0-web/js/all.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @await RenderSectionAsync("js", false)
</body>
</html>
