@{
    var listCategory = (IEnumerable<Shop.Common.DTO.CategoryProductDTO>)ViewData["ListCategory"];
    var listMenu = (IEnumerable<Shop.Common.DTO.MenuDTO>) ViewData["ListMenu"];
} 

<!--====================  mobile menu overlay ====================-->
<div class="mobile-menu-overlay" id="mobile-menu-overlay">
    <div class="mobile-menu-overlay__inner">
        <div class="mobile-menu-close-box text-start">
            <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"> <i class="icon-cross2"></i></span>
        </div>
        <div class="mobile-menu-overlay__body">
            <div class="offcanvas-menu-header d-md-block d-none">
                <div class="helendo-language-currency row-flex row section-space--mb_60 ">
                    <div class="widget-language col-md-6">
                        <h6> Language</h6>
                        <ul>
                            <li class="actived" style="color: #dcb14a">Việt Nam</li>
                        </ul>
                    </div>
                    <div class="widget-currency col-md-6">
                        <h6> Currencies</h6>
                        <ul>
                            <li class="actived" style="color: #dcb14a">VND</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="offcanvas-navigation">
                <ul>
                    <li class="has-children">
                        <a href="/">Home</a>
                    </li>
                    <li class="has-children">
                        <a href="#">Shop</a>
                        <ul class="sub-menu">
                            @foreach(var item in listMenu)
                            {
                            <li class="has-children">
                                <a href="#"><span>@item.Name</span></a>
                                <ul class="sub-menu">
                                @foreach (var child in listCategory)
                                {
                                    if (item.ID == child.IDMenu)
                                    {
                                        <li><a href="/Category/@child.ID"><span>@child.Name</span></a></li>
                                    }
                                }
                                </ul>
                            </li>
                            }
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="/Feedback">Liên hệ</a>
                    </li>
                </ul>
            </nav>

            <div class="mobile-menu-contact-info section-space--mt_60">
                <h6>Contact Us</h6>
                <p>69 Halsey St, Ny 10002, New York, United States <br>support.center@unero.co <br>(0091) 8547 632521</p>
            </div>

            <div class="mobile-menu-social-share section-space--mt_60">
                <h6>Follow US On Socials</h6>
                <ul class="social-share">
                    <li><a href="#"><i class="social social_facebook"></i></a></li>
                    <li><a href="#"><i class="social social_twitter"></i></a></li>
                    <li><a href="#"><i class="social social_googleplus"></i></a></li>
                    <li><a href="#"><i class="social social_linkedin"></i></a></li>
                    <li><a href="#"><i class="social social_pinterest"></i></a></li>
                </ul>
            </div>


        </div>


    </div>


</div>
<!--====================  End of mobile menu overlay  ====================-->